*{
    padding: 0;
    margin:0;
}
/* agregar acordion */

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Montserrat:ital,wght@1,200&family=Nunito:wght@200&display=swap');


body {
    position: relative;
    padding-bottom: 140px;
    font-family: 'Archivo Black', sans-serif;
}

.barra__tareas{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 5px;

}
.barra__tareas2{
    text-decoration: none;
    color:white;
    font-size: 25px;
}

.titulo{
    text-align: center;
    justify-content: center ;
    font-family: 'Archivo Black', sans-serif;

}

.sub__titulo{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.video__publicidad {
    text-align: center;
    background-image: url(../asents/bob-esponja/fondo__video.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items:baseline;
    padding: 50px;
}

.carrucel{
width:100%;
background:rgba(42, 184, 228, 0.7) ;
overflow: hidden;

}

.carrucel ul{
    display:flex ;
    padding: 0;
    width: 400%;
    animation: cambio 7s infinite alternate;
 }

.carrucel li{
  width: 100%;
    list-style: none; 
    text-align: center;
}

.carrucel-img{
    width:50%;
    height: 500px;
}

@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    40%{margin-left:-100% ;}
    45%{margin-left: -100%;}

    65%{margin-left:-200% ;}
    70%{margin-left: -200%;}

    96%{margin-left:-300% ;}
    100%{margin-left:-300%;}
}
.logo{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 50px;
    align-items:center;
}
.logo img{
position: absolute;
top: 0;
left: 0;
}

.footer__cotain {
    padding: 15px 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
  }
  
  .footer__icons {
    padding: 3px 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    justify-content: center;
  }
  .icons__footer {
    padding: 0px 3px;
    width: 25px;
    height: auto;
  }

  p {
    padding: 3px 0;
    margin: 0 !important;
  }
  
  .contact__footer {
    color: black;
    text-align: center;
    width: 98%;
    margin: auto;
    font-size: small;
    padding-bottom: 8px;
  }
  .footer__subTitles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .footer__time--info {
    display: flex;
    flex-direction: column;
  }
  .footer__networks {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer {
    color: silver;
    display: block;
    background: rgb(70 70 70);
    width: 100%;
    height: auto;
    position:absolute;
    bottom: 0;
    width: 100%;
 
  }

@media (max-width:1200px) {
    .carrucel-img {
        width: 100%;
        height:auto;
    }

    body {
      padding-bottom: 150px;
  }
    
    .video__publicidad {
        height: 600px;
        display: flex;
        justify-content: center;
        align-items:baseline;
        padding: 75px;
        background-size:cover;
    }

    .video__publicidad video {
        width: 40%;
        height: auto;
    }

    .footer__cotain {
        padding: 15px 8px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin: auto;
      }
      
      .footer__icons {
        padding: 3px 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        justify-content: center;
      }
      .icons__footer {
        padding: 0px 3px;
        width: 25px;
        height: auto;
      }
    
      p {
        padding: 3px 0;
        margin: 0 !important;
      }
      .icons__footer:hover {
        color: white;
      }
      
      .contact__footer {
        color: black;
        text-align: center;
        width: 98%;
        margin: auto;
        font-size: small;
        padding-bottom: 8px;
      }
      .footer__subTitles {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    
      .footer__time--info {
        display: flex;
        flex-direction: column;
      }
      .footer__networks {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      footer {
        color: silver;
        display: block;
        background: rgb(70 70 70);
        width: 100%;
        height: auto;
        position:absolute;
        bottom: 0;
        width: 100%;
     
      }
    
}

@media (max-width:768px) {

    .barra__tareas2 {
        font-size: 18px;
    }

    body {
      padding-bottom: 120px;
  }

    .carrucel-img {
        width: 75%;
        height:auto;
    }
    
    .video__publicidad {
        height: 600px;
        display: flex;
        justify-content: center;
        align-items:baseline;
        padding: 75px;
        background-size:cover;
    }
    
    .video__publicidad video {
        width: 300px;
        height: auto;
    }

    .footer__cotain {
        padding: 15px 8px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin: auto;
      }
      
      .footer__icons {
        padding: 3px 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3px;
        justify-content: center;
      }

      .footer__icons--img img {
        width: 18px;
        margin-top: 5px;
      }

      .icons__footer {
        padding: 0px 3px;
        width: 18px;
        height: auto;
      }
    
      p {
        padding: 3px 0;
        margin: 0 !important;
      }
      .icons__footer:hover {
        color: white;
      }
      
      .contact__footer {
        color: black;
        text-align: center;
        width: 98%;
        margin: auto;
        font-size: small;
        padding-bottom: 8px;
      }
      .footer__subTitles {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        margin-right: 80px;
      }
    
      .footer__time--info {
        display: flex;
        flex-direction: column;
        font-size: 14px;
      }
      .footer__networks {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      footer {
        color: silver;
        display: block;
        background: rgb(70 70 70);
        width: 100%;
        height: auto;
        position:absolute;
        bottom: 0;
        width: 100%;
     
      }
    
}


@media (max-width: 375px) {

    .barra__tareas2 {
        font-size: 15px;
    }

    body {
      position: relative;
      padding-bottom: 350px;
    }
    
    .carrucel-img {
        width:50%;
        height:auto;
    }
    
    .video__publicidad{
        height: 450px;
        display: flex;
        justify-content: center;
        align-items:baseline;
        padding: 50px;
        background-size:cover;
    }
    .video__publicidad video {
        width: 100%;
        height: auto;
    }

    .footer__cotain {
      padding: 15px 8px;
      display: flex;
      flex-direction:column;
      justify-content: space-between;
      align-items: center;
      width: 95%;
      text-align: center;
    }
    
    .footer__icons {
      padding: 3px 10px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3px;
      justify-content: center;
    }

    .footer__icons img {
      width: 18px;
      margin-top: 5px;
      margin-bottom: 15px;
    }

    .icons__footer {
      padding: 0px 3px;
      width: 18px;
      height: auto;
    }
  
    p {
      padding: 3px 0;
      margin: 0 !important;
    }
    .icons__footer:hover {
      color: white;
    }
    
    .contact__footer {
      color: black;
      text-align: center;
      width: 98%;
      margin: auto;
      font-size: small;
      padding-bottom: 8px;
    }
    .footer__subTitles {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 14px;
    }
  
    .footer__time--info {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      margin-bottom: 15px;
    }
    .footer__networks {
      display: flex;
      flex-direction: column;
      justify-content: center;

    }
    footer {
      color: silver;
      display: block;
      background: rgb(70 70 70);
      width: 100%;
      height: auto;
      position:absolute;
      bottom: 0;
    }
    
}


