* {
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    padding-bottom: 140px;
    font-family: 'Archivo Black', sans-serif;
}
#barra__tareas{
    justify-content:center;
    list-style: none;
    padding: 5px;

}
#barra__tareas2{
    text-decoration: none;
    font-size: 25px;
}
.sub__titulo{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.logo{
    width: 40%;
    justify-content:start;
    height: 50px;
    align-items:flex-start;
}

.logo img{
position: absolute;
top: 0;
left: 0;
}
.sub__titulo{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}