* {
  padding: 0;
  margin: 0;
}

#barra-tareas {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 5px;
}
#barra-tareas2 {
  text-decoration: none;
  font-size: 25px;
}
#barra__tareas2:hover {
  color: orange;
  border-bottom: 2px solid black;
}
ul li a {
  text-decoration: none;
  font-size: 25px;
}
ul li a:hover {
  color: orange !important;
  border-bottom: 2px solid black;
}
.logo {
  width: 5%;
  justify-content: center;
  height: 50px;
  align-items: center;
}

.titulo {
  font-family: "Archivo Black", sans-serif;
}
.logo img {
  position: absolute;
  top: 0;
  left: 0;
}

.jbalvin__zapatilla {
  width: 500px;
  height: 300px;
  margin: 0 0 0 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.travis__zapatilla {
  /* max-width: 1200px; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  /* margin: 80px; */
}

/* dereche una descripccion */

.jordan__zapatilla {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 80px;
}

/* dereche una descripccion */

.running__zapatilla {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 80px;
}

/* dereche una descripccion */

.running2__zapatilla {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 80px;
}

/* dereche una descripccion */

.urban__zapatilla {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 80px;
}

/* dereche una descripccion */

.kyrie6__zapatilla {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 80px;
}

/* dereche una descripccion */

.kyrie5__zapatilla {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 80px;
}

/* dereche una descripccion */

.kyrie1__zapatilla {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 80px;
}
.talles {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-left: 700px;
}
.talles__titulo {
  margin-bottom: 10px;
  text-align: center;
  margin-left: 300px;
}
.talles__subtitulo {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  margin-left: 300px;
}

.talles__zapatillas {
  display:grid;
  grid-template-columns: repeat(4, 90px);
  width:auto;
  color: white;
  margin-left: 500px;
}
.boton {
  display: inline-flex;
  border-radius: 1px;
  border-bottom: 1px solid black;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  background-color:white;
  color: black;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3 ease all;
  overflow: hidden;
  position: relative;
}
.boton span {
  position: relative;
  z-index: 2;
  transition: .3s ease all;
}

.boton.zapatilla::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  z-index: 1;
  top: -240px;
  left: 0;
  transition: .3s ease-in-out all;
}
.boton.zapatilla:hover{
  color: white;
}
.boton.zapatilla:hover::after{
  top: 0;
}

footer {
  background: rgb(243, 241, 240);
  height: 50px;
  text-align: center;
  margin-top: 400px;
}

@media (max-width: 510px) {
  footer {
    height: 115px;
  }
}
@media (max-width: 460px) {
  #mail {
    display: none;
  }
  footer {
    padding: 30px;
  }
}
@media (max-width: 375px) {
  footer {
    height: auto;
    margin-top: 220px;
  }
}
