.carrucel{
    width:100%;
    background:$colorcarrucel;
    overflow: hidden;
    
}
.carrucel ul{
 display:flex ;
 padding: 0;
 width: 400%;
 animation: cambio 7s infinite alternate;
}
.carrucel li{
 width: 100%;
 list-style: none; 
 text-align: center;
}
.carrucel-img{
 width:50%;
 height: 500px;
}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    40%{margin-left:-100% ;}
    45%{margin-left: -100%;}

    65%{margin-left:-200% ;}
    70%{margin-left: -200%;}

    96%{margin-left:-300% ;}
    100%{margin-left:-300%;}
}
    