* {
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    padding-bottom: 295px;
    font-family: 'Archivo Black', sans-serif;
}
#barra__tareas{
    justify-content: space-evenly;
    list-style: none;
    padding: 5px;
    text-decoration: none;
    transition: 0.3s all ease;
    border-bottom: 2px solid transparent ;
    padding: bottom 5px;
  }
  
  #barra__tareas2{
    text-decoration: none;
    font-size: 25px;
  }
  #barra__tareas2:hover {
    color:orange;
    border-bottom: 2px solid black;
  }
  ul li a {
    text-decoration: none;
    font-size: 25px;
  }
  ul li a:hover{
    color: orange !important;
    border-bottom: 2px solid black;
  }
.sub__titulo{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.logo{
    width: 40%;
    justify-content:start;
    height: 50px;
    align-items:flex-start;
}

.logo img{
position: absolute;
top: 0;
left: 0;
}
.footer__contain{
  padding: 15px 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
}
.footer__icons {
  padding: 3px 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  justify-content: center;
}