* {
  padding: 0;
  margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Montserrat:ital,wght@1,200&family=Nunito:wght@200&display=swap");

body {
  position: relative;
  padding-bottom: 162px;
  font-family: "Archivo Black", sans-serif;
}


/* barra de tareas */


#barra__tareas {
  justify-content: space-evenly;
  list-style: none;
  padding: 5px;
  text-decoration: none;
  transition: 0.3s all ease;
  border-bottom: 2px solid transparent;
  padding: bottom 5px;
}

#barra__tareas2 {
  text-decoration: none;
  font-size: 25px;
}
#barra__tareas2:hover {
  color: orange;
  border-bottom: 2px solid black;
}
ul li a {
  text-decoration: none;
  font-size: 25px;
}
ul li a:hover{
  color: orange !important;
  border-bottom: 2px solid black;
}
.logo {
  width: 40%;
  justify-content: center;
  height: 50px;
  align-items: center;
}
.titulo {
  font-family: "Archivo Black", sans-serif;
}
.logo img {
  position: absolute;
  top: 0;
  left: 0;
}
.todo__producto {
  width: 100%;
  display: flex;
  text-align: center;
  margin: auto;
  justify-content: center;
  align-content: space-evenly;
  padding-top: 0;
}


/* zapatillas */


.zapatilla {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  margin: 80px;
}

.todo__producto--zapatilla {
  cursor: pointer;
}

.todo__producto--zapatilla img {
  grid-area: 1 / 3 / 3 / 3;
}

.promociones {
  text-align: center;
}

.tarjetas {
  background: linear-gradient(70deg, black, white);
}


/* carrito */

ul {
  list-style: none;
}
.submenu {
  position: relative;
}
.submenu #carrito{
  display: none;
}
.submenu:hover #carrito {
  display: block;
  color: black;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: white;
  z-index: 10;
  padding: 20px;
}
.vacio{
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  color: gray;
  background-color: orange;
}

.borrar-zapatilla {
  background-color: orange;
  border-radius: 50%;
  padding:  5px 10px;
  text-decoration: none;
  color: gray;
  font-weight: bold;
}

.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }

.button,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box; }
  .button:hover,
  button:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover,
  .button:focus,
  button:focus,
  input[type="submit"]:focus,
  input[type="reset"]:focus,
  input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0; }
  .button.button-primary,
  button.button-primary,
  input[type="submit"].button-primary,
  input[type="reset"].button-primary,
  input[type="button"].button-primary {
    color: #FFF;
    background-color: #FBAF32;
    border-color: #FBAF32; }
  .button.button-primary:hover,
  button.button-primary:hover,
  input[type="submit"].button-primary:hover,
  input[type="reset"].button-primary:hover,
  input[type="button"].button-primary:hover,
  .button.button-primary:focus,
  button.button-primary:focus,
  input[type="submit"].button-primary:focus,
  input[type="reset"].button-primary:focus,
  input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #dc8b04;
    border-color: #dc8b04; }
  
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1;
 }
.info-card .precio {
  /* text-decoration: line-through; */
  font-size: 18px;
  margin-top: 10px;
}
/* footer */


.footer__cotain {
  padding: 15px 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
}

.footer__icons {
  padding: 3px 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  justify-content: center;
}
.icons__footer {
  padding: 0px 3px;
  width: 25px;
  height: auto;
}

p {
  padding: 3px 0;
  margin: 0 !important;
}

.contact__footer {
  color: black;
  text-align: center;
  width: 98%;
  margin: auto;
  font-size: small;
  padding-bottom: 8px;
}
.footer__subTitles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.footer__time--info {
  display: flex;
  flex-direction: column;
}
.footer__networks {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer {
  color: black;
  display: block;
  background: rgb(243, 241, 240);
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
}


/* medias */


@media (max-width: 920px) {
  body {
    position: relative;
    padding-bottom: 162px;
  }
  .submenu:hover #carrito {
    display: block;
    color: black;
    position: absolute;
    right: 10 !important;
    top: 100%;
    background-color: white;
    z-index: 10;
    padding: 20px;
  }
  .todo__producto {
    width: 100%;
    display: flex;
    text-align: center;
    margin: auto;
    justify-content: center;
    align-content: space-evenly;
    padding-top: 0;
  }

  .zapatilla {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 30px;
  }

  .zapatilla img {
    width: 40%;
    height: auto;
  }

  #j-balvin__texto {
    display: none;
  }

  .tarjetas {
    width: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .footer__cotain {
    padding: 15px 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
  }

  .footer__icons {
    padding: 3px 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    justify-content: center;
  }
  .icons__footer {
    padding: 0px 3px;
    width: 25px;
    height: auto;
  }

  p {
    padding: 3px 0;
    margin: 0 !important;
  }
  .icons__footer:hover {
    color: white;
  }

  .contact__footer {
    color: black;
    text-align: center;
    width: 98%;
    margin: auto;
    font-size: small;
    padding-bottom: 8px;
  }
  .footer__subTitles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .footer__time--info {
    display: flex;
    flex-direction: column;
  }
  .footer__networks {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer {
    color: black;
    display: block;
    background: rgb(243, 241, 240);
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
  }
}
@media (max-width: 675px) {
  body {
    position: relative;
    padding-bottom: 350px;
  }
  .submenu:hover #carrito {
    display: block;
    color: black;
    position: absolute;
    right: 10 !important;
    top: 100%;
    background-color: white;
    z-index: 10;
    padding: 20px;
  }
  #j-balvin__texto {
    display: none;
  }
  .footer__cotain {
    padding: 15px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    text-align: center;
  }

  .footer__icons {
    padding: 3px 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    justify-content: center;
  }

  .footer__icons img {
    width: 18px;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .icons__footer {
    padding: 0px 3px;
    width: 18px;
    height: auto;
  }

  p {
    padding: 3px 0;
    margin: 0 !important;
  }
  .icons__footer:hover {
    color: white;
  }

  .contact__footer {
    color: black;
    text-align: center;
    width: 98%;
    margin: auto;
    font-size: small;
    padding-bottom: 8px;
  }
  .footer__subTitles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }

  .footer__time--info {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-bottom: 15px;
  }
  .footer__networks {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer {
    color: black;
    display: block;
    background: rgb(243, 241, 240);
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
  }
}

@media (max-width: 375px) {
  body {
    position: relative;
    padding-bottom: 350px;
  }
  .submenu:hover #carrito {
    display: block;
    color: black;
    position: absolute;
    right: 10 !important;
    top: 100%;
    background-color: white;
    z-index: 10;
    padding: 20px;
  }
  .todo__producto {
    width: 100%;
    display: flex;
    text-align: center;
    margin: auto;
    justify-content: center;
    align-content: space-evenly;
    padding-top: 0;
  }

  .zapatilla {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    margin: 30px;
  }

  .zapatilla img {
    width: 40%;
    height: auto;
  }

  #j-balvin__texto {
    display: none;
  }

  .promociones {
    width: auto;
  }

  .tarjetas {
    width: auto;
  }

  .footer__cotain {
    padding: 15px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    text-align: center;
  }

  .footer__icons {
    padding: 3px 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    justify-content: center;
  }

  .footer__icons img {
    width: 18px;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .icons__footer {
    padding: 0px 3px;
    width: 18px;
    height: auto;
  }

  p {
    padding: 3px 0;
    margin: 0 !important;
  }
  .icons__footer:hover {
    color: white;
  }

  .contact__footer {
    color: black;
    text-align: center;
    width: 98%;
    margin: auto;
    font-size: small;
    padding-bottom: 8px;
  }
  .footer__subTitles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }

  .footer__time--info {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-bottom: 15px;
  }
  .footer__networks {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer {
    color: black;
    display: block;
    background: rgb(243, 241, 240);
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
  }
}
